@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-orange: hsl(15, 100%, 70%);
  --Soft-blue: hsl(195, 74%, 62%);
  --Light-red: hsl(348, 100%, 68%);
  --Lime-green: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Soft-orange: hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--Very-dark-blue);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.nav-bar .menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu li a {
  text-decoration: none;
  color: var(--Pale-Blue);
  padding: 5px;
}

.menu li a:hover {
  color: white;
}

.main {
  margin: 0 auto;
  width: 60%;
  background-color: white;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 20px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.error-txt {
  display: none;
  position: absolute;
  color: red;
  font-style: italic;
  font-size: 16px;
  top: 80px;
  left: 0;
}

.form label {
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin-bottom: 5px;
}

.form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form input,
.form button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

.form input {
  width: 70%;
  background-color: rgb(231, 231, 231);
}

.form input.error {
  border: 2px solid red;
}

.form input:focus {
  outline: 1px solid black;
}

.form button {
  width: 28%;
  font-weight: 700;
  background-color: var(--Soft-orange);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.form button:hover {
  color: white;
  background-color: var(--Very-dark-blue);
}

.form p {
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.4;
}

.form p .instruction-one {
  display: block;
}

.form p .instruction-two {
  display: none;
}

.short-url-results {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s ease-in;
}

.short-url-results.show-links {
  bottom: -210px;
  display: block;
  opacity: 1;
}

.short-url-results ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

li.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  max-height: 50px;
}

.divider {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.long-link {
  width: 60%;
  color: rgba(0, 0, 0, 0.747);
  font-size: 14px;
  line-height: 0.8;
  text-decoration: line-through;
  overflow: hidden;
}

.short-link {
  font-size: 16px;
  color: var(--Soft-blue);
  text-decoration: underline;
}

.copy-btn {
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  width: 120px;
  padding: 8px 5px;
  background-color: rgb(75, 207, 163);
  color: black;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: rgba(75, 207, 163, 0.836);
}

.copy-btn:focus {
  color: white;
  background-color: var(--Very-dark-blue);
}

@media only screen and (max-width:970px) {
  .main {
    width: 80%;
  }

  .error-txt {
    font-size: 14px;
    top: 76px;
  }
}

@media only screen and (max-width:610px) {
  .main {
    width: 90%;
    padding: 1.2rem;
  }

  .form label {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .form input,
  .form button {
    padding: 7px;
    border-radius: 7px;
    font-size: 14px;
  }

  .error-txt {
    font-size: 13px;
    top: 68px;
  }

  .form p {
    font-size: 14px;
    margin-top: 14px;
  }

  .short-url-results.show-links {
    bottom: -180px;
  }

  .short-url-results ul {
    gap: 0.7rem;
  }

  .long-link {
    line-height: 0.8;
  }

  .divider {
    gap: 0.5rem;
  }

  .copy-btn {
    font-size: 14px;
    width: 60px;
  }

  .short-link {
    font-size: 15px;
  }
}

@media only screen and (max-width:500px) {
  .menu li a {
    font-size: 16px;
  }

  .main {
    margin: 0;
    width: 100%;
    border-radius: 0;
    padding: 1rem;
  }

  li.result {
    border-radius: 0;
    padding: 0.5rem 0.4rem;
    max-height: 45px;
  }

  .divider {
    gap: 0.3rem;
  }

  .copy-btn {
    font-size: 14px;
    width: 60px;
  }

  .short-link {
    font-size: 14px;
    font-weight: 500;
  }
}

@media only screen and (max-width:375px) {
  li.result {
    overflow: hidden;
  }
}